location:
  source_directories:
    - /pgdump
  files_cache: ctime,size,inode
  remote_path: borg1
  repositories:
    - "{{ hc__borg_repo_url }}"
  exclude_caches: true

storage:
  encryption_passcommand: cat /root/passphrase
  compression: auto,lz4
  umask: 0077
  lock_wait: 5
  archive_name_format: 'db-{now}'

retention:
  keep_within: 3H
  keep_hourly: 24
  keep_daily: 7
  keep_weekly: 4
  keep_monthly: 6
  keep_yearly: 1
  prefix: 'db-'

consistency:
  checks:
    - repository
    - archives
    - extract
  check_last: 3

hooks:
  before_backup:
    - pg_dump -h db -d "${POSTGRES_DB}" -U postgres -w -f /pgdump/db.sql
  after_backup:
    - rm -rf /pgdump/*
